<div class="conttainer">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h1><strong>About</strong></h1>
          <br>
          <p>
           ながのCAKEは全国発送可能なケーキ屋さんです。<br>
           お子様からお年寄りの方までお召し上がりいただけるよう、<br>
           様々なバリエーションをご用意しております。<br>
           また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
           ぜひご注文ください。
          </p>
          <br>
            <%= image_tag "about.jpg", width: '30%', height: '50%' %>
      </div>
    </div>
  </div>
</div>

